:root {}

* {
    color: white;
}

body {
    background-color: #dcdcdc;
}

header {
    background-color: #dc143c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.name-header {
    color: white;
    font-size: 30px;
    padding-left: 10px;
}

.nav-bar-ul {
    margin-right: 25px;
}

.nav-li {
    display: inline-block;
    padding: 0px 30px 0px 5px;
    color: white;
    font-size: 24px;
}

.page-container {
    width: 85%;
    margin: auto;
    display: flex;
    background-color: #dc143c;
    margin-top: 4%;
}

.main-container {
    text-align: center;
}


.image-container {
    padding-top: 4%;
    display: flex;
    justify-content: center;
}

.porfolio-img {
    border-radius: 50%;
    border: #dcdcdc solid 4px;
}

.about-header,
.work-header {
    display: inline-block;
    font-size: 30px;
    margin: 10px 0px 5px 0px;
    border-bottom: #dcdcdc solid 3px;
    width: 60%;
    padding-bottom: 8px;
}

.section-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 8px;
}

.section-content p {
    text-align: left;
    line-height: 1.5;
    margin: 10px 10px;
    font-size: 16px;
}

.about-divider {
    border: #dcdcdc solid 1px;
    width: 40%;
}

.run-buddy {}