:root {}

* {
    color: white;
}

body {
    background-color: #dcdcdc;
}

header {
    background-color: #dc143c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.name-header {
    color: white;
    font-size: 30px;
    padding-left: 10px;
}

.nav-bar-ul {
    margin-right: 25px;
}

.nav-li {
    display: inline-block;
    padding: 0px 30px 0px 5px;
    color: white;
    font-size: 24px;
}

.page-container {
    width: 90%;
    margin: auto;
    display: flex;
    background-color: #dc143c;
    margin-top: 4%;
}

.section-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-work-li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.main-container {
    text-align: center;
}

.image-container {
    padding-top: 4%;
    display: flex;
    justify-content: center;
}

.porfolio-img {
    border-radius: 50%;
    border: #dcdcdc solid 4px;
}

.about-header,
.work-header,
.contact-header {
    font-size: 30px;
    margin: 10px 0px 5px 0px;
    border-bottom: #dcdcdc solid 3px;
    width: 60%;
    padding-bottom: 8px;
}

.work-header,
.contact-header {
    display: inline-block;
}

.section-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 8px;
}

.about-divider {
    border: #dcdcdc solid 1px;
    width: 40%;
}

.section-content p {
    text-align: left;
    line-height: 1.5;
    margin: 10px 10px;
    font-size: 16px;
}

.work-content {}

.project-li {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.run-buddy {
    background-image: url(../images/run-buddy-img.jpg);
    height: 250px;
    width: 87%;
    padding: 20px;
    margin: 40px auto;
    background-size: 100% 100%;
}

.run-buddy h3 {
    float: left;
    font-size: 24px;
    background-color: #dcdcdc;
    padding: 10px 10px;
    color: #dc143c;
}

.robot-glad {
    background-image: url(../images/robot-gladd-img.jpg);
    float: left;
    height: 250px;
    background-size: 100% 100%;
    width: 40%;
}

.robot-glad h3,
.task-master h3 {
    float: left;
    font-size: 24px;
    background-color: #dcdcdc;
    padding: 10px 10px;
    color: #dc143c;
    margin: 10px 10px;
}

.task-master {
    background-image: url(../images/task-master-pro-img.jpg);
    height: 250px;
    background-size: 100% 100%;
    width: 40%;
}